<ion-header>
  <ion-toolbar>
    <ion-title>Nestle</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col class="logo-cell" text-center>
      <!--
      <ion-icon name="checkmark-circle-outline" margin-top></ion-icon>
      -->
      <ion-img class="center" style="width: 80px; height: 80px; align-items: center;" src="assets/img/dvir-logo-small.png" margin-top></ion-img>
      <p margin-top>DVIR Submitted</p>
    </ion-col>
  </ion-row>

    <ion-button class="home-button"  fill="outline" color="light" size = "large" type="submit"
              routerLink="/home" expand="block">
      <ion-icon name="home"> </ion-icon>
      Home
  </ion-button>

</ion-content>
